body {
  font-family: "Nunito", sans-serif;
  width: 80%;
  margin: 0 auto !important;
}

#chat-container {
  margin: 20px;
}

#chat-window {
}

#output p {
  width: 100%;
}

#actions p {
  width: 100%;
}

.-right {
  display: flex;
  justify-content: flex-end;
}

.-right i {
  margin: 0px 0px 0px 10px;
}

.-left {
  display: flex;
  justify-content: flex-start;
}

.-left i {
  margin: 0px 10px 0px 0px;
}

.message{
  margin: 10px 0px;
}

#send {
  margin: 20px 0px;
  width: 100%;
}